<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="products">
        <div class="containeradd">
            <h1 style="color: gold;">UPDATE !</h1>
            <form action="/addproduct" method="post" enctype="multipart/form-data">
                <div class="formadd">
               <input type="text" name="housetype" placeholder="Housetype" required>
                {{!-- <label>Car Name</label> --}}
            </div>
            <div class="formadd">
                <input type="text" name="price" placeholder="PRICES" required >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                <input type="text" name="rooms" placeholder="NO OF BHK" required>
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                <input type="text" name="sqft" placeholder="Sqft" >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                <input type="text" name="classification" placeholder="Classification" >
                {{!-- <label>Brand</label> --}}
            </div>
            <div class="formadd">
                 <input type="file" id="img" name="img" accept="image/*">
                 
            </div>
            <div>
             <input type="submit"  class="addbtn" value="Sumbit">
             </div>
            </form>
        </div>
    </div>
</body>
</html>