<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Image Gallery with Lightbox | CodingLab </title> 
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
   </head>
<body>
  <section>
    <div class="lightBox">
      <div class="lightBox_content">
        <i class="fas fa-times close"></i>
        <div class="logo_icons">
          <a href="#">
            <img class="logoImg" src="https://img.freepik.com/free-photo/happy-family-near-new-house-real-estate-concept_493343-29889.jpg" alt="" 
            <div class="text_content">
              <span class="name">CodingLab</span>
              <span class="followers">50k followers</span>
            </div>
          </a>
          <div class="icons">
            <i class="fas fa-heart"></i>
            <i class="fas fa-arrow-down"></i>
          </div>
        </div>
        <div class="showImg">
          <div class="image">
           <img src="https://thumbor.forbes.com/thumbor/fit-in/x/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg" alt=""> 
          </div>
        </div>
      </div>
    </div>

    <div class="image-gallery">
      <header>DREAMHOME</header>
      <div class="image-container">
        <div class="image-box">
          <img class="gImg" src="https://images05.military.com/sites/default/files/styles/full/public/media/money/homes/2017/07/couple-cloud-houses.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://lirp.cdn-website.com/579c08bf/dms3rep/multi/opt/1211174464-640w.jpg" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://photos.zillowstatic.com/fp/b2245769ab7075235eee29b1a10f6497-p_e.webp" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://i.pinimg.com/originals/9d/5f/dc/9d5fdc6d34eb1f5b5708aa4d3a6e83b7.jpg" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://www.nobroker.in/blog/wp-content/uploads/2022/07/A-Modern-Architectural-Style-Small-House.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://i.pinimg.com/564x/a7/6d/ef/a76defa85b4168a03a2f87d6cb9c1474.jpg" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://images.familyhomeplans.com/plans/80523/80523-b600.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://www.lifestylehousing.in/blogs/wp-content/uploads/2021/06/shutterstock_627812210-scaled.jpg" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://www.lifestylehousing.in/blogs/wp-content/uploads/2021/06/shutterstock_627812210-scaled.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://ap.rdcpix.com/167871010/c7350852d4044a172bff21633c6c3caba-c0o.jpg" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://ideas.ted.com/wp-content/uploads/sites/3/2021/09/FINAL_tiny-home-exterior1.jpg?w=770" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://play-lh.googleusercontent.com/5rS-un965hkZuqUNA65RwkeqmGko91DVQHlAMCQ9lJlNguvXkCQzjl6OgAMOPZ2cCk4" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://www.managedbuild.com.au/wp-content/uploads/2021/06/2-storey-home-builder-in-Sydney-scaled.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://thearchitecturedesigns.com/wp-content/uploads/2021/07/Buy-a-House-Using-Property-Agents-1-1024x597.jpg" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="logoImg" src="https://www.forsterhomeinspections.com/wp-content/uploads/2021/07/safety.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://thumbs.dreamstime.com/b/home-dreamers-27045029.jpgU" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="IogoImg" src="https://bt-wpstatic.freetls.fastly.net/wp-content/blogs.dir/2550/files/2020/01/dreamHomeCheyenneWyRealEstate.jpg" alt="">
          <div class="logo_icons">
            <a href="#">
               <img class="logoImg" src="https://bt-wpstatic.freetls.fastly.net/wp-content/blogs.dir/2550/files/2020/01/dreamHomeCheyenneWyRealEstate.jpg" alt=""> 
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
           <img class="gImg" src="https://hips.hearstapps.com/housebeautiful.cdnds.net/17/15/2048x1152/hd-aspect-1491912284-homeowners-with-key.jpg?resize=1200:*" alt=""> 
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://www.b-dirt.com/wp-content/uploads/2018/08/Building_Your_Dream_Home-1080x675.jpegg" alt=""-->
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://www.b-dirt.com/wp-content/uploads/2018/08/Building_Your_Dream_Home-1080x675.jpeg" alt="">
          <div class="logo_icons">
            <a href="#">
              <img class="logoImg" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F525473942%2FCouple-with-keys-to-new-home%2F960x0.jpg%3Ffit%3Dscale" alt="">
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <img class="gImg" src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F525473942%2FCouple-with-keys-to-new-home%2F960x0.jpg%3Ffit%3Dscale" alt="">
          <div class="logo_icons">
            <a href="#">
              <!--img class="logoImg" src="images/logo.png" alt=""-->
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <!--img class="gImg" src="images/img13.jpg" alt=""-->
          <div class="logo_icons">
            <a href="#">
              <!--img class="logoImg" src="images/logo.png" alt=""-->
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <!--img class="gImg" src="images/img14.jpg" alt=""-->
          <div class="logo_icons">
            <a href="#">
              <!--img class="logoImg" src="images/logo.png" alt=""-->
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
        <div class="image-box">
          <!--img class="gImg" src="images/img15.jpg" alt=""-->
          <div class="logo_icons">
            <a href="#">
              <!--img class="logoImg" src="images/logo.png" alt=""-->
              <div class="text_content">
                <span class="name">DREAMHOME</span>
                <span class="followers">50k followers</span>
              </div>
            </a>
            <div class="icons">
              <i class="fas fa-heart"></i>
              <i class="fas fa-arrow-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

  let body = document.querySelector("body"),
      lightBox = document.querySelector(".lightBox"),
      img = document.querySelectorAll(".gImg"),
      showImg = lightBox.querySelector(".showImg img"),
      close = lightBox .querySelector(".close");

     for (let image of img) {
       image.addEventListener("click", ()=>{
         showImg.src = image.src;
         lightBox.style.display = "block";
         body.style.overflow = "hidden";
         close.onclick = ()=>{
           lightBox.style.display = "none";
           body.style.overflow = "visible";
         };
       });
     }

  </script>

</body>
</html>